@keyframes dropDown {
       0%   {top:-300px;}
       50% {top: 0px;}
       70% {top: 40px}
      100% {top:0px;}
}
@keyframes hideWrapper {
  from {opacity: 0;}
  to {opacity: 1;}
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0;
  font-family: 'Black Ops One', cursive;
  height: 100vh;
  color: white;
  animation: hideWrapper 1s ease;
}
.skills {
  grid-column: 1 / 2;
  grid-row: 1;
  text-align: center;
  padding: 10px;
  background-image: url("../img/skillsPic.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  animation: dropDown .7s linear;

}
.aboutMe {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  text-align: center;
  padding: 10%;
  background-image: url("../img/wallPic.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  animation: dropDown .7s linear;
}
.projects {
  grid-column: 1;
  grid-row: 2 / 5;
  text-align: center;
  padding: 10%;
  background-image: url("../img/projectsPic.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  animation: dropDown .6s linear;
}
.contact {
  grid-column: 2;
  grid-row: 3 / 5;
  text-align: center;
  padding: 10%;
  background-image: url("../img/profilePic.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  animation: dropDown .5s linear;
}
.icons {
  grid-column: 3;
  grid-row: 3  / 5;
  text-align: center;
  padding: 10%;
  background-image: url("../img/contactPic.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  animation: dropDown .4s linear;
}
ul {
  list-style-type: none;
}
li {
    display: inline;
}
.icons .fa {
  position: relative;
  margin-right: 10px;
  color: white;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
.icons .google:hover {
  color: red;
bottom: 10px;
}

.icons .linkedin:hover {
  color: #2C6EE8;
  bottom: 10px;
}
.icons .github:hover {
  color: #070201;
  bottom: 10px;
}
